.logo {
    width: 100%;
    height: 30%;
    background-color: blue;
}

#topo {
    width: 100%;
    background: 
    
}

.espaco {
    width: 100%;
    height: 60px;
    
}

.maps {
    width: 100%;
    
}